* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}
/* *********************/
/* seccion I N I C I O */
/* *********************/

#inicio {
  background-image: linear-gradient(rgba(0, 0, 27, 0.5), rgba(0, 0, 27, 0.5)),
    url("/img/fondo-inicio.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#inicio .contenido header {
  background-color: rgba(0, 0, 27, 0.8);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

#inicio .contenido header .contenido-header {
  max-width: 1100px;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1 {
  text-align: center;
  color: #ff5080;
}

#inicio .contenido header .contenido-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 12px;
  font-weight: 500;
  font-size: 1.2em;
  transition: 0.5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
  color: #ff5080;
}

#inicio .contenido header .contenido-header .redes a {
  font-size: 1.3em;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  transition: 0.5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
  color: #ff5080;
}

#inicio .contenido header .contenido-header .seleccionado {
  color: #ff5080;
}

#inicio .contenido .presentacion {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
  font-size: 55px;
  margin-bottom: 25px;
  text-align: center;
}

#inicio .contenido .presentacion h2 span {
  font-size: 25px;
  color: #ff5080;
}

#inicio .contenido .presentacion .descripcion {
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}

#icono-nav {
  color: #fff;
  display: none;
}


/* *********************/
/* seccion S O B R E  M I */
/* *********************/

#sobrenosotros {
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: #111135;
  display: flex;
  align-items: center;
}

#sobrenosotros .contenedor-foto {
  max-width: 400px;
  margin-right: 80px;
}

#sobrenosotros .contenedor-foto img {
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: #f3f3f3;
}

#sobrenosotros .sobremi {
  margin: 0 40px;
}

#sobrenosotros .sobremi .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#sobrenosotros .sobremi h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}

#sobrenosotros .sobremi h2 span {
  color: #ff5080;
}

#sobrenosotros .sobremi h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#sobrenosotros .sobremi p {
  font-size: 14px;
  line-height: 25px;
  color: #565656;
  margin-bottom: 12px;
}

/* *********************/
/* seccion S E R V I C I O S */
/* *********************/

#servicios {
  padding: 100px 15px;
  text-align: center;
  background-color: #f3f3f3;
}

#servicios .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;

  
}

#servicios .fila {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  margin: 30px auto;
}

#servicios .fila .servicio {
  max-width: 350px;
  background-color: #fff;
  padding: 30px;
  margin: 0 5px;
  border-radius: 5px;
  transition: 0.5s;
}

#servicios .fila .servicio:hover {
  box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio .icono {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 25px;
}

#servicios .fila .servicio h4 {
  font-size: 22px;
  margin-bottom: 25px;
}

#servicios .fila .servicio hr {
  width: 30%;
  margin: auto;
  color: #000;
  margin-bottom: 25px;
}

#servicios .fila .servicio ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

#servicios .fila .servicio p {
  font-size: 14px;
  line-height: 22px;
}
/* *********************/
/* seccion S K I L L S */
/* *********************/

.contenedor-skills {
  background-image: linear-gradient(#eb5a5acc, rgba(33, 16, 16, 0.8)),
    url("/img/fondo-skills.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-position: center center;
  padding: 100px 0;
  text-align: center;
}

.contenedor-skills .skill {
  max-width: 600px;
  margin: 30px auto;
}

.contenedor-skills .skill .info {
  display: flex;
  justify-content: space-between;
}

.contenedor-skills .skill .lista {
  display: inline-block;
  margin-right: 20px;
  height: 10px;
  width: 10px;
  background-color: #fff;
}

.contenedor-skills .skill .barra {
  background-color: #919191;
  width: 100%;
  height: 6px;
  margin: 10px 0px;
}

.contenedor-skills .skill .barra .barra-progreso1 {
  background-color: #fff;
  width: 95%;
  height: 6px;
  animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso2 {
  background-color: #fff;
  width: 90%;
  height: 6px;
  animation: progreso2 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso3 {
  background-color: #fff;
  width: 90%;
  height: 6px;
  animation: progreso3 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso4 {
  background-color: #fff;
  width: 85%;
  height: 6px;
  animation: progreso4 2s forwards;
}

@keyframes progreso1 {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

@keyframes progreso2 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes progreso3 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes progreso4 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
/* *********************/
/* seccion P O R T F O L I O */
/* *********************/

#portfolio {
  max-width: 1100px;
  padding: 100px 0;
  margin: auto;
}

#portfolio .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#portfolio .fila {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

#portfolio .fila .proyecto {
  max-width: 450px;
  border: 1px solid #000;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

#portfolio .fila .proyecto img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  object-fit: cover;
  transition: 0.5s;
}

#portfolio .fila .proyecto:hover img {
  filter: grayscale(0);
}

#portfolio .fila .proyecto .info {
  position: absolute;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ff5080;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: 0.5s;
}

#portfolio .fila .proyecto:hover .info {
  opacity: 1;
  bottom: 0;
}
/* *********************/
/* seccion C O N T A C T O */
/* *********************/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #E5E5E5;
}

#contacto {
	padding: 100px 15px;
  text-align: center;
	background-color: #ffffff;
  }
  
 
  
  #contacto .formulario {
	max-width: 1100px;
	margin: auto;
  }
  

  
  #contacto .formulario input,
  #contacto .formulario textarea {
	padding: 20px;
	border-radius: 20px;
	border: none;
	border: 1px solid #919191;
  }
  

  #contacto .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
  }

  
  #contacto .formulario .input-full {
	width: 100%;
  }
.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
#contacto .formulario .fila {
	margin-bottom: 15px;
	width: 100%;
	height: max-content;
  }

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}
#contacto .contenedor-form .input-full {
	width: 100%;
  }

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}
.formulario__grupo-termino{
	grid-column: span 3;

}


.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	align-items: center;
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
	
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
	background-color: #ff5080;
	color: #fff;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}













/* *********************/
/* seccion F O O T E R */
/* *********************/

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

footer a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 5px;
  font-size: 26px;
}
/* *********************/
/* seccion R E S P O N S I V E */
/* *********************/

@media screen and (max-width: 800px) {
  .redes {
    display: none;
  }
  nav {
    display: none;
  }
  nav.responsive {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    padding: 10px 0;
  }
  nav.responsive ul {
    display: block !important;
    text-align: center;
  }
  nav.responsive ul li {
    margin: 5px 0;
  }
  #icono-nav {
    display: block;
  }
  #inicio .contenido .presentacion h2 {
    font-size: 40px;
  }
  /* seccion SOBRE MI */
  #sobrenosotros {
    padding: 50px 0;
    display: block;
  }
  #sobrenosotros .contenedor-foto {
    max-width: 200px;
    margin: auto;
  }
  #sobrenosotros .contenedor-foto img {
    padding: 8px;
  }
  #sobrenosotros .sobremi .titulo-seccion {
    text-align: center;
  }
  #sobrenosotros .sobremi h2 {
    font-size: 25px;
    text-align: center;
  }
  /* seccion MIS SERVICIOS */
  #servicios {
    padding: 50px 15px;
  }
  #servicios .fila {
    display: block;
  }
  #servicios .fila .servicio {
    margin: 10px auto;
  }
  /* seccion HABLIDADES MI */
  .contenedor-skills {
    padding: 50px 20px;
  }
  /* seccion PORTFOLIO */
  #portfolio {
    padding: 50px 0;
  }
  #portfolio .fila {
    display: block;
  }
  #portfolio .fila .proyecto {
    margin: 10px auto;
  }
  /* seccion CONTACTO */
  #contacto {
    padding: 50px 15px;
  }
  #contacto .contenedor-form .mitad {
    margin-bottom: 15px;
    display: block;
  }
  #contacto .contenedor-form .mitad input {
    width: 100%;
    margin-bottom: 15px;
  }
}
