* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  min-height: 100%;
}

#main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.main {
  height: 100%;
  display: flex;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 80px;
}

.wraper {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  width: 100%;
  height: 30%;
}

.wraper .title {
  font-size: 1.4em;
  font-weight: 5 00;
  color: #fff;
  margin-left: 5px;
}

.wraper .subtitle {
  margin-left: 20px;
  font-size: 3.7em;
  color: #fff;
}

.wraper span {
  background: linear-gradient(50deg, #00ffff, #b224ef, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* cards-------------- */

.container {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.card {
  width: 250px;
  height: 250px;
  background-image: linear-gradient(-135deg, #121b84b8, #231f42c8);
  padding: 10px 30px;
  /* border: 1px solid #fff; */
  border-radius: 25px;
  text-align: center;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.card:hover {
  width: 250px;
  height: 540px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.card__encabezado img {
  width: 180px;
  height: 180px;
  margin: 20px auto;
  position: relative;
  border-radius: 50%;
  display: block;
  border-top: 8px solid #fff;
  border-bottom: 8px solid #fff;
  object-fit: cover;
  transition: all 0.3s ease;
}

.card__encabezado {
  position: relative;
}

.card__encabezado::after,
.card__encabezado::before {
  position: absolute;
  content: "";
  opacity: 0.7;
}

.card__encabezado::after {
  width: 50px;
  height: 50px;
  z-index: 20;
  top: 0;
  right: 0;
  background-color: #ffdc3e;
  border-radius: 50%;
}

.card__encabezado::before {
  width: 60px;
  height: 60px;
  bottom: 0;
  left: -10px;
  border-radius: 10px;
  background-color: #d31336;
  transform: rotate(120deg);
}

.card__iconos {
  display: flex;
  justify-content: center;
  position: relative;
  list-style: none;
  margin-bottom: 15px;
}

.card__iconos li {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  line-height: 40px;
  text-align: center;
  transform: scale(0);
  transition: all 0.5s ease;
}

.agrandar {
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(-45px);
}

.desplazar {
  transform: scale(0);
  opacity: 0;
  transition: all 0.4s ease;
}

.card:hover .agrandar {
  opacity: 1;
  transition: all 0.5s ease;
  transform: translateY(0);
}
.card:hover .desplazar {
  transform: scale(1);
  opacity: 1;
  transition: all 0.4s ease;
}

.card__iconos li a {
  color: #4558d0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  line-height: 40px;
  transition: all 0.3s;
}

.card__iconos li a:hover {
  transform: scale(1.1);
}

.card__iconos .agrandar:nth-child(1) {
  transition-delay: 0.2s;
}
.card__iconos .agrandar:nth-child(2) {
  transition-delay: 0.3s;
}
.card__iconos .agrandar:nth-child(3) {
  transition-delay: 0.4s;
}

.card__contenido {
  margin-top: 19px;
}

.info-personal {
  color: #fff;
}

.info-personal:nth-child(1) {
  font-size: 2em;
  font-weight: bold;
  padding: 5px;
  line-height: 25px;
}

.info-personal:nth-child(2) {
  font-size: 1.3em;
  margin: 10px 0;
}

.info-personal:nth-child(3) {
  font-size: 1em;
  margin: 15px 0;
}

.card__acciones {
  margin-top: 25px;
  text-align: center;
}

.botones {
  width: 100%;
  background-image: linear-gradient(90deg, #ff5080 30%, #ffd500 70%);
  font-size: 1.2em;
  margin: 0 auto;
  padding: 7px 12px;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
}

.botones:hover {
  scale: 1.2;
}
